// primary styles 



$blue: #149aff;
$lightBlue: #cae6f2;
$hoverBlue: #007bd8;
$gray2: #818d93;
$lighterGray: #f8f8f8;
$blueGray: #323a45;
$lightBrayGray: #c0c8ce;
$black: #000;

$gray: #5c5c5c;
$darkGray: #5a5a5a;
$darkerGray: #151515;
$lightGray: #b9b9b9;
$red: #900000;
$lightRed: #a73f3f;
$pink: #f49999;
$white: #ffffff;
