// general wrapper class
.my_container {
	@extend %post;
	max-width: 80.25em;
	margin-left: auto;
	margin-right: auto;
	padding: 0 40px;
	
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	
	@include media($tablet) {
		padding: 0 20px;
	}
}