.header {
    background: rgba(0,0,0,.7);
    position: fixed;
    z-index: 999;

    @include media($mobile) {
        background: $black;
    }

    &.scroll {
        background: $black;

        li.logo {
            margin-bottom: -28px;

            img {
                max-width: 195px;
            }
        }
    }

    nav {
        a {
            @include montmed;
            font-size: 20px;
            color: $gray;
            margin-top: auto;

            @include media($tablet) {
                font-size: 18px;
            }

            @include media($mobile) {
                padding: 15px 0;
                width: 100%;
                display: block;
                text-align: center;
            }

            &:hover {
                color: $red;
            }

            &.active {
                color: $red;
            }
        }

        li {
            position: relative;
            margin-right: 2%;

            @include media($mobile) {
                border-bottom: 1px solid;
                border-color: rgba(255,255,255, .3);
            }

            &.logo {
                margin-bottom: -39px;
                padding: 0 20px;
                margin-right: auto;
                transition: 500ms all linear;
                -moz-transition: 500ms all linear;
                -webkit-transition: 500ms all linear;
                -o-transition: 500ms all linear;

                @include media($mobile) {
                    display: none;
                }

                img {
                    max-width: 265px;
                    transition: 500ms all linear;
                    -moz-transition: 500ms all linear;
                    -webkit-transition: 500ms all linear;
                    -o-transition: 500ms all linear;
                }
            }

            &:after {
                content: '/';
                color: $darkGray;
                font-size: 16px;
                position: absolute;
                right: -15px;
                bottom: 5px;

                @include media($mobile) {
                    content: '';
                }
            }

            &:first-child {

                @include media($mobile) {
                    border-top: 1px solid $white;
                }

                &:after {
                    content: '';
                }
            }

            &:last-child {
                margin-right: 0;

                @include media($mobile) {
                    border-bottom: none;
                }

                &:after {
                    content: '';
                }
            }
        }
    }

    .social_media {
        position: absolute;
        top: 10px;
        right: 0;
        z-index: 1;

        @include media($mobile) {
            position: relative;
            float: right;
            top: 0;
            right: 0;
            margin-left: auto;
            padding-right: 20px;
        }

        ul {
            list-style: none;

            li {
                padding: 0 10px;

                @include media($mobile) {
                    padding: 0 8px;
                    border: none;
                }

                &:after {
                    content: '|';
                    position: absolute;
                    color: $lightGray;
                    right: -3px;
                    font-size: 16px;
                    top: 0;

                    @include media($mobile) {
                        right: -5px;
                    }
                }

                &:first-child {
                    border: none;

                    &:after {

                        @include media($mobile) {
                            content: '|';
                            right: -5px;
                        }
                    }
                }

                &:last-child {

                    &:after {
                        content: '';
                        padding-right: 0;
                    }
                }
            }
        }

        a {
            position: relative;
            display: block;

            @include media($mobile) {
                padding: 0;
            }

            &:hover {
                cursor: pointer;

                &:before {
                    content: '';
                    position: absolute;
                    height: 24px;
                    top: 3px;
                    left: 0;
                    width: 100%;
                    z-index: 1;
                }
            }

            &.facebook {

                &:hover:before {
                    background: url('../../images/icon-facebook-red.png') no-repeat;
                    background-size: 100%;
                }
            }

            &.instagram {

                &:hover:before {
                    background: url('../../images/icon-instagram-red.png') no-repeat;
                    background-size: 100%;
                }
            }

            &.youtube {

                &:hover:before {
                    background: url('../../images/icon-youtube-red.png') no-repeat;
                    background-size: 100%;
                }

            }


        }
    }

    .navbar-toggler {
        padding: 0;
    }

    .navbar-nav {
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
        width: 100%;
    }

    .mobile_logo {
        display: none;

        @include media($mobile) {
            display: block;
            margin-bottom: -34px;
        }

        img {
            max-width: 165px;
        }
    }

    .mobile_menu_icon {
        display: none;
        width: 30px;
        height: 24px;
        float: right;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;

        @include media($mobile) {
            padding: 0;
        }

        &.scroll {
            @include media($mobile){
                margin-top: 4px;
            }
        }

        span {
            position: absolute;
            height: 5px;
            width: 100%;
            background: #ffffff;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 1px;
            }

            &:nth-child(2) {
                top: 10px;
            }

            &:nth-child(3) {
                top: 19px;
            }
        }

        &.open span {

            &:nth-child(1) {
                top: 12px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
            }

            &:nth-child(2) {
                opacity: 0;
                left: -60px;
            }

            &:nth-child(3) {
                top: 12px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }

        }

        @include media($mobile){
            display: block;
        }
    }
}

.hero_section {
    /*background: url('../../images/hero-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;*/

    .bg_image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        animation: pulse 500ms 3;
        transform: scale(1);

        &.play {
            animation: pulse 2s infinite;
        }

        img {
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 1000px;

            @include media($mobile) {
                height: calc(130vw - 20px);
            }

            @include media($smallMobile) {
                height: 180vw;
            }

        }
    }

    @keyframes pulse {
        0% {
            transform: scale(0.95);
        }

        70% {
            transform: scale(1);
        }

        100% {
            transform: scale(0.95);
        }
    }

    .music_player_section {
        padding-top: 170px;
        padding-bottom: 8%;

        @include media($mobile) {
            padding-top: 110px;
        }

        h2 {
            @include truckin;
            text-shadow: 2px 1px #ff0000;
            font-size: 12em;
            color: $white;

            @include media($desktop) {
                font-size: 10em;
            }

            @include media($tablet) {
                font-size: 8em;
            }

            @include media($mobile) {
                font-size: 7em;
            }

            @include media($smallMobile) {
                font-size: 4em;
            }

            span {
                color: $red;
            }
        }

        .music_player {
            width: 42%;
            margin: 0 auto;

            @include media($tablet) {
                width: 80%;
            }

            @include media($mobile) {
                width: 90%;
            }

            audio {
                width: 100%;
                height: 20px;
            }

            .controls {

                .fwd, .rew, .stop {
                    @include media($smallMobile) {
                        width: 35px;
                        height: 35px;
                        margin: 5px 3px;
                    }
                }

                .play, .pause {
                    @include media($smallMobile) {
                        width: 45px;
                        height: 45px;
                        margin: 0 3px;
                    }
                }
            }
        }
    }
}

h2.section_title {
    color: $white;
    font-size: 6em;
    text-shadow: 2px 1px #ff0000;

    @include media($tablet) {
        font-size: 4em;
    }

    @include media($mobile) {
        font-size: 3em;
    }
}

.about_section {
    background: $black;
    text-align: center;

    .my_row {
        margin-bottom: 40px;
    }

    .column {
        @include span-columns(6);
        text-align: left;
        border-bottom: 4px solid $darkerGray;

        @include media($smallMobile) {
            @include span-columns(4);
        }

        .text_bar {
            position: absolute;
            top: 10px;
            left: 10px;
            background: url('../../images/text-bg.png') no-repeat;
            background-size: 100% 100%;
            color: $white;
            padding: 6px 26px 6px 8px;
            /*background: #b10000;*/
            border-top-left-radius: 8px;
            border-bottom-right-radius: 8px;

            p {
                @include montreg;
                text-transform: uppercase;

                @include media($mobile) {
                    font-size: 12px;
                }

                span {
                    @include montreg;
                    font-size: 12px;
                    text-transform: none;
                }
            }
        }

        .image_wrap {
            padding: 10px;
            border: 1px solid #ff0000;
            border-radius: 12px;

            img {
                border: 1px solid $red;
                border-radius: 8px;
            }

            &.vocals {
                background: rgba(56,0,0,.6);
            }
        }

        .overlay_text {
            position: absolute;
            height: 100%;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;

            p {
                color: $white;
                font-size: 24px;
                text-transform: uppercase;

                &:first-child {
                    margin-bottom: 20px;
                }
            }
        }

        .description {
            color: $gray;
            padding: 10px 0 20px;
        }
    }
}

.media_section {
    background: $white;

    h2.section_title {
        color: $black;
    }

    #carouselControls {
        width: 75%;
        margin: 0 auto;
    }

    .video_wrapper {
        @include span-columns(12);
        padding-bottom: 56.25%;
        height: 0;
        position: relative;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.shows_section {
    background: url('../../images/shows-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 550px;

    p {
        @include montmed;
        color: $white;
    }

    h3 {
       @include montmed;
        font-size: 16px;
        color: $white;
    }

    li {
        border-top: 1px solid $lightRed;
        border-bottom: 1px solid $lightRed;
        padding: 20px 0;
        margin-bottom: 40px;

        @include media($smallMobile) {
            padding: 10px 0;
        }

        .my_row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            align-items: center;
        }

        .column {
            @include span-columns(3);

            @include media($mobile) {
                @include span-columns(4);
            }

            &:nth-child(2) {
                @include span-columns(6);

                @include media($mobile) {
                    @include span-columns(4);
                    margin-bottom: 20px;
                }
            }

            &:first-child {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;

                @include media($mobile) {
                    justify-content: center;
                    margin-bottom: 20px;
                }
            }

            &:last-child {
                display: flex;
                justify-content: center;

                /*@include media($mobile) {
                    justify-content: center;
                }*/
            }

           /* &:first-child {
                @include span-columns(5);

                @include media($smallMobile) {
                    @include span-columns(4);
                }
            }*/
        }
    }
}

.contact_section {
    background: url('../../images/cartoonband.png') no-repeat;
    background-size: contain;
    background-position: center 50%;

    @include media($smallMobile) {
        background-size: 100%;
        background-position: top center;
    }

    &:before {
        content: '';
        background: rgba(0,0,0, .9);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .form_wrap {
        width: 35%;
        margin: 0 auto;
        background: rgba(255,255,255,.1);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;

        @include media($tablet) {
            width: 60%;
        }

        @include media($mobile) {
            width: 80%;
        }

        @include media($smallMobile) {
            width: 90%;
        }
    }

    .success_message {
        color: $white;
        min-height: 500px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
    }

}

footer {
    background: $white;

    p {
        font-size: 14px;
        color: $lightGray;
    }
}


#spinner {
    display: none;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    background: rgba(0,0,0,.4);
    z-index: 999;
}

#spinner.active {
    display: flex;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg) /* rtl:ignore */;
    }
}
.spinner-border {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    vertical-align: -0.125em;
    border: 0.55em solid #ffffff;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: 0.75s linear infinite spinner-border;
    animation: 0.75s linear infinite spinner-border;
}

@-webkit-keyframes spinner-grow {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    .spinner-border {
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }
}

span#message-error, span#name-error, span#email-error{
    color: red;
}